<div class="students-container">
    <h2>Students</h2>
    <button (click)="navigateToCreateForm()">Create Student</button>

    <app-tables class="student-list">
        <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Division</th>
              <th>Teachers</th> <!-- Add a new column for the "Teachers" button -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let student of schoolData?.students">
              <td>{{ student.id }}</td>
              <td>{{ student.name }}</td>
              <td>{{ student.division }}</td>
              <td>
                <button (click)="showTeachers(student.id)">View Teachers</button>
              </td>
              <td>
                <button class="btn btn-link" (click)="editStudent(student)">
                  Edit
                </button>
              </td>
            </tr>
          </tbody>
    </app-tables>

    <app-tables *ngIf="selectedStudentTeachers" class="teacher-app-tables">
        <thead>
            <h2>Teachers</h2>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Division</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let teacher of selectedStudentTeachers">
            <td>{{ teacher.id }}</td>
            <td>{{ teacher.name }}</td>
            <td>{{ teacher.subject }}</td>
          </tr>
        </tbody>
      </app-tables>


      <app-edit-student
    *ngIf="selectedStudent"
    [student]="selectedStudent"
    (save)="saveStudent($event)"
    (cancel)="cancelEdit()"
  ></app-edit-student>

  <div *ngIf="changesSaved" class="changes-saved-message">
    The Student is edited successfully.
  </div>

  </div>
  